/* VARIABLES ---------------------------------------------------------------- */

:root {
  --bg:         #1b1c1d;
  --bg-light:   #3b3c3d;
  --bg-lighter: #5c5c5d;
  --white:      #fffff5;
  --yellow:     #ffff65;
}

/* APP ---------------------------------------------------------------------- */

body {
  padding: 30px;
  background-color: var(--bg);
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
  font-size: 14px;
  color: var(--white);
}
.app-wrapper {

}
h1, h2, h3, h4, h5, p {
  margin: 0;
}
hr {
  height: 1px;
  margin: 0;
  border: none;
  background-color: var(--bg-light);
}
a {
  border-bottom: 1px solid var(--bg);
  color: var(--yellow);
  text-decoration: none;
  transition: border 0.2s;
}
a:hover {
  border-bottom: 1px solid var(--yellow);
}
::selection {
    background: var(--yellow);
    color: var(--bg);
}

/* constrain page width on very wide widths */
@media (min-width: 1200px) {
  .app-wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }
}

/* HEADER ------------------------------------------------------------------- */

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0 20px 30px 20px;
  border-bottom: 1px solid var(--bg-light);
}
h1 {
  display: block;
  font-size: 28px;
}
.emoji {
  display: block;
  position: relative;
  top: 2px;
  margin: -2px;
  font-size: 28px;
}

/* SECTIONS ----------------------------------------------------------------- */

main {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
section {
  flex-grow: 1;
  border-left: 1px solid var(--bg-light);
}
section:first-child {
  padding-left: 0;
  border-left: none;
}
section:last-child {
  padding-right: 0;
}
h2 {
  margin: 10px 15px;
  font-size: 18px;
}
.section-body {
  padding: 20px;
}

/* FORM --------------------------------------------------------------------- */

form label,
form select,
form em,
form ul,
form input[type='submit'] {
  display: block;
}
form select,
form input[type='submit'] {
  margin: 20px 0;
  cursor: pointer;
}

/* LIST --------------------------------------------------------------------- */

ul {
  padding: 0; /* remove default padding */
  margin: 0; /* remove default margin */
  list-style-type: none; /* remove default bullets */
}

/* BUTTONS ------------------------------------------------------------------ */

.pill {
  padding: 6px 14px;
  margin-bottom: 8px;
  border: 1px solid black; /* removes default border */
  border-radius: 5px;
  background-color: var(--bg-light);
  color: var(--white);
  cursor: pointer;
  transition: background-color 0.1s;
}
li:last-child .pill {
  margin-bottom: 0;
}
.pill:hover {
  background-color: var(--yellow);
  color: var(--bg);
}
.pill.selected {
  border: 1px solid var(--bg-light);
  background-color: transparent;
  color: var(--white);
  cursor: default;
}

/* FOOTER ------------------------------------------------------------------- */

footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 30px 20px 0 20px;
  border-top: 1px solid var(--bg-light);
}
